.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  margin-top: 220px;
}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 30px;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 25px;
  font-weight: bold;
}

/* slider */
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider {
  margin-top: 2rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  width: 12rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
 margin-left: 3.5rem;
}

.add-button{
  background: linear-gradient(180deg,  #03a51e 26.71%, #329242 99.36%);
  border-radius: 34px;
  border: none;
  color:white;
  font-weight: bold;
  font-size: 12px;
  padding: 11px 26px 11px 26px;
  margin-bottom: 20px;
  width: 200px;
}

.add-button:hover {
  background: rgb(132, 202, 75);
  cursor: pointer;
  color: white;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.slide-content img {
  width: 12rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
  margin-bottom: 1rem; 
  margin: 0;
}

p{
  font-size: 16px;
}


/* Update the media query to target smaller screen sizes */
@media screen and (max-width: 1000px) {
  .portfolio{
    display: none;
  }
  
}
