.item-container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

.itemicon {
    width: 30px;
}

.iteamheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.icon-cart {
    position: relative;
}

.itemnumber {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.listProduct .item .product-images {
    width: 100%;
    height: 200px;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.listProduct .item {
    background-color: #eefff2;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid rgb(201, 201, 201);
    width: 250px;
    padding-bottom: 25px;
}

.listProduct .item .product-name {
    font-weight: 500;
    font-size: large;
    font-weight: bold;
}

.listProduct .item .price {
    margin-bottom: 15px;
    font-size: medium;
    font-weight: bold;
}

.addCart {
    background-color: green;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.addCart:hover {
    scale: 1.05;
    color: #ffffff;
}

.cartTab {
    width: 400px;
    background-color: black;
    color: #fff;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    padding: 10px;
    font-size: 10px;
}

body .showCart .cartTab {
    inset: 0 0 0 auto;
}

body .showCart .item-container {
    transform: translate3d(-250px);
}

.cartTab .tab-name {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
    background-color: forestgreen;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close {
    background-color: #fff;
}

.cart-image {
    width: 100%;
}

.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 130px 70px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    height: 100px;
    font-size: 10px;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .totalPrice span {
    font-size: 20px;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}


@media only screen and (max-width: 966px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 690px) {
    .listProduct {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}