.button {
  background: linear-gradient(180deg, #03a51e 26.71%, #329242 99.36%);
  border-radius: 34px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 11px 26px 11px 26px;
  margin-bottom: 20px;
}

.updatebutton {
  background: linear-gradient(180deg, #03a51e 26.71%, #03d326 99.36%);
  border-radius: 34px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  margin-bottom: 20px;
}

.deletebutton {
  background: linear-gradient(180deg, #d11a2a 26.71%, #a8010a 99.36%);
  border-radius: 34px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  margin-bottom: 20px;
}



* {
  font-family: sans-serif;
}