.Intro {
  display: flex;
  height: 40vh;
  margin-top: 3rem;
  padding: 30px;
}


.login-button {
  background-color: green;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.login-button:hover {
  scale: 1.05;
  color: #ffffff;
}

.loginform {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  margin: auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(2, 247, 43, 0.2), 0 5px 5px 0 rgba(81, 253, 2, 0.24);

}

.login-page {
  width: 360px;
  padding: 4% 0 0;
  margin: auto;
  height: 100vh;

}

.signupform {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  margin: auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(2, 247, 43, 0.2), 0 5px 5px 0 rgba(81, 253, 2, 0.24);
  height: 570px;
}

.signup-page {
  width: 360px;
  padding: 4% 0 0;
  margin: auto;
  height: 100vh;

}

.login-input {
  width: 80%;
  font-size: 14px;
  background: transparent;
  border: none;
  outline: none;
  margin-top: 2px;
  border-bottom: 1px solid #ccc;
}



/* left side styling */
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  text-align: justify;
}



.fresh {
  font-weight: bold;
  font-size: 25px;
}



/* right side styling */
.i-right {
  flex: 1;
  position: relative;
  padding: 0;
}



.basket {
  width: 600px;
  padding: 0;
}




@media screen and (max-width: 1200px) {
  .Intro {
    display: block;
    height: auto;
  }

  .i-left,
  .i-right {
    width: 100%;
    padding: 0;
  }

  .i-right {
    display: flex;
    justify-content: center;
  }

  .basket {
    width: 400px;
    margin: auto;
  }

}